.container {
  width: 100%;
  height: 100vh; /* 화면 전체를 채우기 위한 설정 */
  background: linear-gradient(
    to bottom,
    #60a5fa,
    #a78bfa,
    #ac7613
  ); /* 배경 그라디언트 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
}
