.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background: linear-gradient(to bottom, #577ef5, #ffcaca);
}

.header {
  margin-bottom: 2rem;
}

.logo {
  width: 400px;
  height: auto;
}

.main-content {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.main-content h3 {
  font-size: 1.5rem;
  color: white;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #fee500;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.social-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-button img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .main-content h3 {
    font-size: 1.2rem;
  }

  .social-button {
    max-width: 250px;
  }
}
