.activeUsers {
  margin-bottom: 20px;
}

.avatarContainer {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}
