.container {
  position: absolute;
  top: 10%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
