.container {
  padding: 20px;
  height: 88vh;
  background: linear-gradient(to bottom, #577ef5, #ffcaca);
  position: relative;
}

.cloudContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px; /* Adjust based on your ChattingInput height */
}
