.customizingPageContainer {
  height: 100vh;
  background: linear-gradient(to bottom, #fcffe5, #ffffff);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.customizingPageContainer h2 {
  color: black;
}
