.questionCloud {
  width: 10%;
  height: 5vw;
  background-color: hsla(0, 0%, 100%, 0);
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  /* 추가된 부분: flexbox를 사용하여 내부 콘텐츠 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionCloud p {
  margin: 0; /* 기본 마진 제거 */
  text-align: center; /* 텍스트 중앙 정렬 */
}
