body {
  font-family: "Pretendard", sans-serif; /* Pretendard 폰트 적용 */
}

.overlay {
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 중앙 정렬 */
  z-index: 1000; /* 다른 요소보다 위에 표시 */
}

.modal {
  position: relative; /* closeIcon을 절대 위치로 배치하기 위한 상대 위치 설정 */
  background-color: white; /* 배경 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
  padding: 40px 20px; /* 패딩 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  width: 911px; /* 너비 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.modal h2 {
  font-size: 22px; /* 글씨 크기 조정 */
  margin-top: 30px;
}

.copyButton,
.closeButton {
  margin-top: 10px; /* 버튼 간격 */
}

.urlContainer {
  margin-top: 20px; /* 간격 조절 */
}

.urlBox {
  display: flex; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  justify-content: space-between; /* 버튼과 링크 간격 유지 */
  padding: 4px 5px 4px 20px; /* 내부 여백 줄이기 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 6px; /* 모서리 둥글게 */
  background-color: #f9f9f9; /* 배경색 */
  height: 40px; /* 박스 높이 설정 */
  color: #767676;
  margin-top: 50px;
  margin: 60px 80px 20px 80px;
}

.copyButton {
  margin-left: 10px; /* 버튼과 링크 간격 조정 */
  background-color: #5a5dbb;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  border-style: none;
  font-size: 14px;
  margin-bottom: 10px;
}

/* X 닫기 아이콘 */
.closeIcon {
  position: absolute; /* 위치 조정을 위한 절대 위치 설정 */
  top: 10px; /* 상단 여백 */
  right: 15px; /* 우측 여백 */
  font-size: 1.5rem; /* 크기 조절 */
  cursor: pointer; /* 커서 포인터로 변경 */
  color: #333; /* 색상 설정 */
}
.listButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.listButton:hover {
  background-color: #45a049;
}
