.container {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.waterDrop {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.eyes,
.mouth {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.eyes {
  width: 200px;
  height: 60px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.mouth {
  width: 60px;
  height: 30px;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

/* 미디어 쿼리 추가 */
@media (max-width: 768px) {
  .container {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 160px;
    max-height: 300px;
  }

  .eyes {
    width: 110px;
    height: 70px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mouth {
    width: 40px;
    height: 20px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}
